$first-linear: radial-gradient(91% 146%, rgba(255, 255, 255, 0.5) 47%, rgba(0, 0, 0, 0.5) 100%);
$second-linear: linear-gradient(to right, #868f96 0%, #596164 100%);
$third-linear: linear-gradient(-225deg, #b7f8db 0%, #50a7c2 100%);
$fourth-linear: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);

$transparent-dark-color: rgba(0, 0, 0, 0.5);

$radius: 8px;

$dark-mode-font-color: #fff;
$dark-mode-nav-color: rgb(170, 162, 162);
