@import 'components';
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
}
body {
	position: relative;
	font-family: 'Montserrat', sans-serif;
	background-image: $second-linear;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}
.main-site {
	position: absolute;
	top: 25px;
	left: 25px;
}
.main-site a {
	display: block;
	font-size: 2rem;
	background-color: $transparent-dark-color;
	border-radius: $radius;
	padding: 15px;
	text-decoration: none;
	color: $dark-mode-font-color;
}
.main-site:hover {
	background-color: $transparent-dark-color;
	border-radius: $radius;
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.title {
	font-size: 2.6rem;
}
//  Folded menu with some options - hided for now.

.navbar {
	display: flex;
	width: 100%;
	height: 40px;

	&__list {
		position: relative;
		display: flex;
		flex-direction: column;
		font-size: 2.2rem;
		width: 10rem;
		list-style: none;
		cursor: pointer;
		&::before {
			padding: 0.5rem 1rem 0.5rem 0.5rem;
			margin-bottom: 0.4rem;
			text-align: center;
		}
		&:hover {
			background-color: $dark-mode-nav-color;
		}
		&__item {
			display: block;
			overflow: hidden;
			width: 16rem;
			font-size: 2rem;
			background-color: $dark-mode-font-color;
			cursor: pointer;
			&:hover {
				background-color: $dark-mode-nav-color;
			}
		}
	}
	&__list-game::before {
		content: 'Game';
	}
	&__list-options::before {
		content: 'Options';
	}
	&__list-help::before {
		content: 'Help';
	}
	&__list-game,
	&__list-options,
	&__list-help {
		overflow: visible;
		&__item:first-child {
			border-top: $border-box 2px solid;
		}
		&__item:last-child {
			border-bottom: $border-box 2px solid;
		}
		&__item {
			overflow: visible;
			border: $border-box 2px solid;
			border-top: none;
			border-bottom: none;
			padding: 0.4rem;
		}
	}
}

.game-box {
	font-family: 'Roboto Mono', monospace;
	&__bar {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		border: $border-box 5px solid;
		border-bottom: none;
		padding: 1rem;
		font-size: $bar-font-size;

		&__item {
			border: $border-box 3px solid;
			padding: 0.5rem;
		}
		&__status-face {
			font-size: $face-size;
			cursor: pointer;
		}
		.status-face-ok::before {
			content: '🙂';
		}
		.status-face-wow::before {
			content: '😮';
		}
		.status-face-succes::before {
			content: '😎';
		}
		.status-face-lost::before {
			content: '😵';
		}
	}

	// Game border, squares with bomb
	// To custom game mode, make a number of columns and rows variable
	.plate-begginer {
		// 8 x 8 size and 10 bombs
		display: grid;
		grid-template-columns: repeat(8, $boxes-size-big);
		grid-template-rows: repeat(8, $boxes-size-big);
	}
	.plate-intermediate {
		// 16 x 16 size and 40 bombs
		display: grid;
		grid-template-columns: repeat(16, $boxes-size-medium);
		grid-template-rows: repeat(16, $boxes-size-medium);
	}
	.plate-expert {
		// 31 x 16 size and 99 bombs
		display: grid;
		grid-template-columns: repeat(31, $boxes-size-medium);
		grid-template-rows: repeat(16, $boxes-size-medium);
	}
	.plate-custom {
		// * x * size and * bombs
		display: grid;
		grid-template-columns: repeat($custom-columns, $boxes-size-medium);
		grid-template-rows: repeat($custom-rows, $boxes-size-medium);
	}

	&__plate {
		border: $border-box 5px solid;
		padding: 1rem;
		grid-column-gap: $grid-gap;
		grid-row-gap: $grid-gap;
		&__element {
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: $numbers-size;
			background-color: $hidden-box-color;
			-webkit-box-shadow: 0px 0px 24px 0px $hidden-box-color-shadow;
			-moz-box-shadow: 0px 0px 24px 0px $hidden-box-color-shadow;
			box-shadow: 0px 0px 8px 2px $hidden-box-color-shadow;
		}
		.put-flag {
			&::before {
				content: '🚩';
			}
		}
		.show-empty {
			background-color: $empty-shown-box-color;
			-webkit-box-shadow: inset 0px 0px 24px 0px $empty-shown-box-color-shadow;
			-moz-box-shadow: inset 0px 0px 24px 0px $empty-shown-box-color-shadow;
			box-shadow: inset 0px 0px 30px 10px $empty-shown-box-color-shadow;
		}
		.show-number {
			background-color: $empty-shown-box-color;
			-webkit-box-shadow: inset 0px 0px 24px 0px $empty-shown-box-color-shadow;
			-moz-box-shadow: inset 0px 0px 24px 0px $empty-shown-box-color-shadow;
			box-shadow: inset 0px 0px 30px 10px $empty-shown-box-color-shadow;
			&-1::before {
				content: '1';
				color: $number-one;
			}
			&-2::before {
				content: '2';
				color: $number-two;
			}
			&-3::before {
				content: '3';
				color: $number-three;
			}
			&-4::before {
				content: '4';
				color: $number-four;
			}
			&-5::before {
				content: '5';
				color: $number-five;
			}
			&-6::before {
				content: '6';
				color: $number-six;
			}
			&-7::before {
				content: '7';
				color: $number-seven;
			}
			&-8::before {
				content: '8';
				color: $number-eight;
			}
		}
		.wrong-bet {
			background-color: $empty-shown-box-color;
			-webkit-box-shadow: inset 0px 0px 24px 0px $empty-shown-box-color-shadow;
			-moz-box-shadow: inset 0px 0px 24px 0px $empty-shown-box-color-shadow;
			box-shadow: inset 0px 0px 24px 0px $empty-shown-box-color-shadow;
			&::before {
				content: '❗️';
			}
		}
		.show-bomb {
			background-color: $empty-shown-box-color;
			-webkit-box-shadow: inset 0px 0px 24px 0px $empty-shown-box-color-shadow;
			-moz-box-shadow: inset 0px 0px 24px 0px $empty-shown-box-color-shadow;
			box-shadow: inset 0px 0px 24px 0px $empty-shown-box-color-shadow;
			&::before {
				content: '✹';
				color: #000;
			}
		}
		.show-trigger {
			background-color: $empty-shown-box-color;
			-webkit-box-shadow: inset 0px 0px 24px 0px $empty-shown-box-color-shadow;
			-moz-box-shadow: inset 0px 0px 24px 0px $empty-shown-box-color-shadow;
			box-shadow: inset 0px 0px 24px 0px $empty-shown-box-color-shadow;
			&::before {
				content: '💥';
			}
		}
	}
}
